<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthengagements.home">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.sec.ENTERPRISE_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.sec.MDM_APP_MGMT" />
    <uses-permission android:name="android.permission.sec.MDM_INVENTORY" />
    <uses-permission android:name="android.permission.sec.MDM_ROAMING" />
    <uses-permission android:name="android.permission.sec.MDM_RESTRICTION" />
    <uses-permission android:name="android.permission.sec.MDM_LOCATION" />
    <uses-permission android:name="android.permission.sec.MDM_HW_CONTROL" />
    <uses-permission android:name="android.permission.sec.MDM_BLUETOOTH" />
    <uses-permission android:name="android.permission.sec.MDM_WIFI" />
    <uses-permission android:name="android.permission.sec.MDM_KIOSK_MODE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".ui.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HomeScreen"
            android:theme="@style/WallPaperAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SetupActivity" />
        <activity android:name=".ui.PhoneControlActivity" />
        <activity android:name=".ui.SystemAppsDeleteActivity" />
        <!--<receiver-->
        <!--android:name="com.smargav.esdk.SmargavAdminReceiver"-->
        <!--android:permission="android.permission.BIND_DEVICE_ADMIN">-->
        <!--<meta-data-->
        <!--android:name="android.app.device_admin"-->
        <!--android:resource="@xml/device_admin_policies" />-->

        <!--<intent-filter>-->
        <!--<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".ui.HEAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.SamsungELMLicenseReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="edm.intent.action.license.status" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
